* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button:focus,a:focus{
  outline: none;
  color: rgb(77, 8, 8) !important;
  text-decoration: underline;
}

.page_header{
  padding: 10px 0 20px 0;
  border-bottom: 1px solid rgb(174, 174, 174);
  display: flex;
  width: 100%;
  align-items: center;
}

.responsive-logo{
  width: 300px;
  height: 300px;
}

@media only screen and (max-width: 360px){
  .responsive-logo{
    height: 200px;
    width: 200px;
  }
}